{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@screens": "./src/screens",
          "@views": "./src/views",
          "@components": "./src/components",
          "@assets": "./src/assets"
        }
      }
    ]
  ]
}
